#################
## General
#################
runs/*
*.class
*.log
*.LOG
*.logs
*.LOGS
*.jar
*.tmp
*.bak
*.swp
*~.nib
*.tmp_proj
*.suo
*.user
*.sln.docstates
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vspscc
*.vssscc
*.psess
*.vsp
*.vspx
*.gpState
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
.ncrunch
.*crunch*.local.xml
[Ee]xpress/
_DocProject/buildhelp/
_DocProject/Help/*
.publish.xml
.pubxml
.publishproj
.csx
.build.csdef
AppPackages/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
App_Data/*.mdf
App_Data/*.ldf
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

#################
## SCALA
#################
.cache/
.history/
.lib/
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet

#################
## Eclipse
#################
*.pydevproject
.project
.metadata
.cache-main
.cache-tests
tmp/
local.properties
.classpath
.settings/
.loadpath
.iml
.externalToolBuilders/
*.launch
.cproject
.buildpath

#################
## Visual Studio
#################
.vscode/
.metals/
[Dd]ebug/
[Rr]elease/
x64/
build/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
.builds
.pidb
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Build and output folders
publish/
csx
.build.csdef
AppPackages/

# Tool specific folders
_ReSharper*/
_TeamCity*
.dotCover
.ncrunch
.*crunch*.local.xml
[Ee]xpress/
_DocProject/buildhelp/
_DocProject/Help/*
*.publish.xml
*.pubxml
*.publishproj

# User-specific files
*.suo
*.user
*.sln.docstates

# Backup files
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#################
## Windows
#################
Thumbs.db
ehthumbs.db
Desktop.ini

#################
## IntiliJ
#################
*.bsp

#################
## Mac
#################
.DS_Store

#################
## Python
#################
*.py[cod]
*.pyc
__pycache__/
venv/
env/
.env
.idea/
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
*.filepart
*.rar
*.gz
.Python
downloads/
.eggs/
lib/
lib64/
parts/
wheels/
share/python-wheels/
htmlcov/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
local_settings.py
local.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
Pipfile.lock
poetry.lock
.pdm.lock
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.idea/
