sqlalchemy
sqlalchemy_utils
psycopg2
pandas
thrift
thrift_sasl
#sasl
#pyhive[hive]
#pyhive[presto]
#pyhive[trino]
#pyhive[kerberos]
psutil
pyjks
pyopenssl
paramiko
sshtunnel
cryptography
tenacity
urllib3
requests
fuzzywuzzy
python-Levenshtein
